<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Peter Paul Damot on 11-09-2024
  ~ Copyright (c) 2024. All rights reserved.
  ~ Last modified on 11-17-2024.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/nimbus_icon"
        android:label="@string/app_name"
        android:name=".application.NimbusApplication"
        android:roundIcon="@mipmap/nimbus_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nimbus"
        tools:targetApi="31">
        <activity
            android:name=".presentation.view.MainDashboard"
            android:exported="true"
            android:theme="@style/Theme.Nimbus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>